.containerS {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8vh;
  padding: 8vh 0 8vh 0;
}

.boxS {
  display: grid;
  align-items: center;
  width: 270px;
  height: 370px;
  background-color: #111312;
  box-shadow: wheat 0px 0px 18px 0px;
  border-radius: 10px;
  grid-template-rows: 47% 31% 22%;
  grid-template-areas: "imageA" "labelA" "btnA";
}

.imagesec {
  grid-area: imageA;
  display: flex;
  justify-content: center;
}

.btnsec {
  grid-area: btnA;
}

.boxS img {
  max-width: 150px;
  max-height: 150px;
  margin-top: 1vh;
  border-radius: 15px;
}

.labelC {
  grid-area: labelA;
  padding: 8px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boxS button {
  background-color: #1e2220;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.boxS .downBtn {
  border-radius: 0 0 10px 10px;
}

.boxS button:hover {
  color: rgb(0, 0, 0);
  background-color: wheat;
}
